<h2> Lista de Postagem</h2>
<hr />
<a href="/admin/postagens/add"><button class="btn btn-success">Nova Postagem</button></a>

{{#each postagem}}

  <div class="card">
    <div class="card-body">
      <input type="hidden" name="id" value="{{_id}}" />
      <h4>{{titulo}}</h4>
      <p>{{conteudo}}</p>
      <small>{{categoria.nome}}</small>
      <a href="/admin/postagens/edit/{{_id}}">
        <button class="btn btn-success mt-3">Editar POSTAGEM</button>
      </a>
    </div>
  </div>
{{else}}
  <p>Nenhuma Registrada</p>
{{/each}}